error_log stderr notice;
daemon off;

events {
    worker_connections 100000;
}

worker_rlimit_nofile 200000; # 2 * worker_connections

http {

    server {
        listen 16662 so_keepalive=10s:10s:8;
        server_name *.onion.gq;
        lua_check_client_abort on;
        location / {
            default_type text/html;
            content_by_lua '
                require("onion2web").handle_onion2web(".onion.gq:16662");
            ';
        }
    }

}
